*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #f0f2f5;
}
.card{
  width: 20%;
  height: 10%;
  background-color: white;
  border-radius: 10px;
  padding: 1.4rem;
  margin-bottom: 1rem;
}
.bir{
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
.muddati{
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: bold;
}
.container{
  width:  95%;
  
  margin: 2rem 3rem;
}
.container2{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}
.btn{
  padding: 14px 18px;
  width:  100px;
  cursor: pointer;
  border-radius: 2.4rem;
  border: none;
  background-color: #fff;
  font-weight: bold;
}
.btn2{
  display: flex;
  gap: 0.5rem;
  margin:2rem 0;
}
.btn span{
  background-color:  #f0f2f5;
  padding: 5px;
  border-radius: 30px;
  font-weight: 400;
}
.btn:hover {
  span{
    background-color: #fff;
    color: black;
  }
  background-color:#1cca59 ;
  color: #fff;
  transition: all 0.3s ease;
}
.h1{
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 8rem;

}
.li a{
  color: black;
  text-decoration: none ;
}
ul {
  display: flex;
  gap: 20px;
  list-style: none;
  color: black;
  font-size: 1rem;
  font-weight:450;
}
img{
  cursor: pointer;
}
.li a:hover{
  text-decoration:underline #1cca59;
  text-underline-offset: 2.46rem;
  
}
.nav{
  margin-bottom: 2rem;
  margin-top: -1rem;
  width: 100%;
  padding: 2rem 0rem;
  border-bottom: 1px solid rgb(210, 210, 210);
  position: fixed;
  top: 0;
  background-color: #f0f2f5;
  
  
}
.media{
  width: 25px;
  height: 25px;
  background-color: inherit;
  position: absolute;
  right: 2.5%;
  border: none;
  cursor: pointer;
  display: none;
  font-size: 1.3rem;
}
.nav1{
  display: flex;
  width: 95%;
  margin: 0  auto;
}
.nav1 li{
  margin-top: 0.5rem;
}
.nav ul{
  margin-left: 3rem;

}
.btn3{
  font-size: 16px;
  width: 150px;
  position: relative;
  background-color: #E5EAF0;
  padding: 5px;
  height: 35px;
  margin-left: 30rem;
  cursor: pointer;
  border-radius: 10px;
}
.pul1{
  position: absolute;
  bottom: 5px;
  left: 15px;
}
.sotish{
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 13px;
  font-weight: 100;
}
.pul2{
  position: absolute;
  bottom: 5px;
  right: 15px;
}
.olish{
  position: absolute;
  top: 5px;
  left: 15px;
  font-weight: 100;
  font-size: 13px;
}
.bank{
  padding: 1rem 1.5rem;
  color: black;
  background-color: #fff;
  border-radius: 10px;
  border: none;
  font-weight: bold;

}
.bank:hover{
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  background-color: #1cca59;
  color: white;
}
.btn5{
  display: flex;
  position: absolute;
  right: 5.5%;
  gap: 1rem;
}
.fUl{
  display: block;
  font-size: 1rem;
}
.fUl li:hover{
  cursor: pointer;
  color: #1cca59;
}
.footer{
  width: 100%;
  gap: 5rem;
  padding: 2rem 0;
  line-height: 2.2rem;
  background-color: #DCE2EB;

}
.raqam{
  line-height: 2.3rem;
}
.raqam h1{
  cursor: pointer;
}
.foot{
  width: 95%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}
.mobil{
  display: flex;
}
.mobil img{
  width: 64px;
  height: 64px;
  border-radius: 1rem;
}
.h2{
  font-size: 1rem;
}
.px{
  width: 163px;
  line-height: 30px;
  margin-left: 1rem;
  cursor: pointer;

}
.px p{
  font-size: 14px;
  color: gray;
  line-height: 20px;
  width: 70%;
  margin-top: -0.3rem;
}
.foot2{
  display: flex;
  gap: 12.5rem;
  width: 95%;
  margin: 0 auto;
}
.foot2 button{
  padding: 18px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  font-size: 1rem;
}
.foot2 button:hover{
  background-color: #1cca59;
  color: #fff;
  cursor: pointer;
}
.icon{
  display: flex;
  gap: 3rem;
  

}
.icon p{
  cursor: pointer;
  width: 50px;
  height: 30px;
  font-size: 1.5rem;
}
.icon p:hover{
  color: #1cca59;
}
@media only screen and (max-width: 768px) {
  .card{
    width: 320px;
    height: 122px;

  }
  .container{
    width: 98%;
    margin: 1rem auto;
  }
  .muddati{
    margin-top:1.5rem;
  }
  .bir{
    margin-top:2rem;
  }
  .btn2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 2rem 0.3rem;
  }
  .btn{
    padding: 13px;
    margin-top: 0.5rem;
  }
  .h1{
    margin-bottom: -1rem;
  }
  .nav ul, .bank, .btn5{
    display: none;
  }
  .media{
    display: block;
  }
  .foot{
    display: block;
  }
  .foot2{
    line-height: 4rem;
    display: block;
  }
}